*
{
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.Container
{
  width: 100%;

}

.col
{
  position: center;
  width: 25%;
  background-color: gray;
  float: left;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px 50px 20px 50px;
  padding: 0;
}
p
{
    padding:10px;
}
h1
{
  text-align: center;
  margin-bottom: 70px;
  margin-top: 40px;
  
}


#col-1 h2
{

  text-align: right;
  border: 2px solid black ;
  margin-left: auto;
  width: 100px;
  background-color: pink;
}
#col-2 h2
{
  text-align: right ;
  border: 2px solid black;
  margin-left: auto;
  width: 100px;
  padding: 0;
  background-color: red;
}
#col-3 h2
{
  text-align: right ;
  border: 2px solid black;
  margin-left: auto;
  width: 100px;
  padding: 0;
  background-color: yellow;
}
@media (max-width:991px) and (min-width: 768px)
{
  .col
{

  width: 40%;
  background-color: gray;
  float: left;
  border: 2px solid black;
  margin: 20px;
  padding: 0;
  
}
  #col-3
  {
    width: 88%;
    padding: 0;
  }
}
@media (max-width: 767px)
{
  .col
{

  width: 60%;
  background-color: gray;
  float: left;
  border: 2px solid black;
  margin: 40px;
  padding: 0px;
  
}
 
}